@import url(./reset.css);

.sidebar{
    position: absolute;
    flex-flow: column;
    width: 15%;
    
    /* background-color: grey; */
}
.container{
    width: 70%;
}
.mainTitleImg{
    background-size: cover;
}
.charImage{
    height: auto;
    width: auto;
    margin: 1.5rem;
}
.menu-btn{
    position: absolute;
    vertical-align: middle;
}
.hover:hover{
    cursor: pointer;
}