@import url(./reset.css);

.sidebar{
    position: absolute;
    flex-flow: column;
    width: 15%;
    
    /* background-color: grey; */
}
.card-group{


}
.charImage{
    height: auto;
    width: auto;
    margin: 1.5rem;
}
.menu-btn{
    position: absolute;
    vertical-align: middle;
}