@import url(./reset.css);

.mainTitleImg{
    display: flex;
    
}

.sidebar{
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 15%;
}
.card-group{

    margin: 2rem;
}
.card{
    height: auto;
    width: auto;
    margin: 5rem;
}